<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Region:</strong>
  <%= @post.region %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @post.generation %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @post.personality %>
</p>

<p>
  <strong>Sectorcat:</strong>
  <%= @post.sectorcat %>
</p>

<p>
  <strong>Functioncat:</strong>
  <%= @post.functioncat %>
</p>

<p>
  <strong>Type:</strong>
  <%= @post.type %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @post.duration %>
</p>

<p>
  <strong>Online:</strong>
  <%= @post.online %>
</p>

<p>
  <strong>Company:</strong>
  <%= @post.company %>
</p>

<p>
  <strong>Views:</strong>
  <%= @post.views %>
</p>

<p>
  <strong>Offline:</strong>
  <%= @post.offline %>
</p>

<p>
  <strong>Candidates:</strong>
  <%= @post.candidates %>
</p>

<p>
  <strong>Urljob:</strong>
  <%= @post.urljob %>
</p>

<p>
  <strong>Media:</strong>
  <%= @post.media %>
</p>

<p>
  <strong>Ads:</strong>
  <%= @post.ads %>
</p>

<p>
  <strong>A:</strong>
  <%= @post.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @post.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @post.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @post.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @post.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @post.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @post.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @post.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @post.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @post.j %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
