<!DOCTYPE html>
<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans&family=Roboto:wght@300;400&display=swap');
    </style> 
    <title>Wizzy - Member</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  </head>

  <body>
  <%= render 'partials/banner' %>
    <%= yield %>
      <%= render 'partials/footer' %>
  </body>
</html>
